In [5]:
meal_cost = float(input("Enter the cost of the meal: $"))

tax_rate = 0.13

tax_amount = meal_cost * tax_rate
tip_amount = meal_cost * 0.18
total_amount = meal_cost + tax_amount + tip_amount

print("Tax: ${:.2f}".format(tax_amount))
print("Tip: ${:.2f}".format(tip_amount))
print("Total: ${:.2f}".format(total_amount))

Enter the cost of the meal: $ 45

Tax: $5.85
Tip: $8.10
Total: $58.95

In [9]:

name="gaurav"
mailingaddress="talegaon Dabhade pune"
print("my name is:{name} and my mailing address is:{email}".format(name=name,email=mailingaddress));

my name is:gaurav and my mailing address is:talegaon Dabhade pune

In [10]:
x=input("Enter yout name:")
print("hello {x}".format(x=x))

Enter yout name: gaurav

hello gaurav

In [11]:
width = float(input("Enter the width of the room: "))
height = float(input("Enter the height of the room: "))
area = width * height
print("The width of the room is {width} and the height of the room is {height}, ""then the total area of the room is {area}m".format(width=width, height=height, area=area)
)

Enter the width of the room:  45
Enter the height of the room:  50

The width of the room is 45.0 and the height of the room is 50.0, then the total area of the room is 2250.0m

In [12]:
sqperacre = 43560

length = float(input("Enter the length of the field in feet: "))
width = float(input("Enter the width of the field in feet: "))
area = (length * width) / sqperacre
print("The length of the field in feet is {length}, ""the width of the field in feet is {width}, ""and the area of the field in acres is {area}".format(length=length, width=width, area=area))

Enter the length of the field in feet:  80
Enter the width of the field in feet:  40

The length of the field in feet is 80.0, the width of the field in feet is 40.0, and the area of the field in acres is 0.07346189164370982

In [7]:
n=int(input("Enter the first n natural number:"))
sum=n*n+1/2
print("the sum of the first natural number is:{sum}".format(sum=sum))

Enter the first n natural number: 4

the sum of the first natural number is:16.5

In [8]:
widgets = int(input("Enter the number of widgets: "))
gizmos = int(input("Enter the number of gizmos: "))

widget_weight = 75
gizmo_weight = 112

total_weight = (widgets * widget_weight) + (gizmos * gizmo_weight)

print("The total weight of the order is {} grams.".format(total_weight))

Enter the number of widgets:  4
Enter the number of gizmos:  4

The total weight of the order is 748 grams.